<section>
  <small>Gestion | Socios</small>
  <h1 class="text-4xl text-center py-4">Gestion de Socios</h1>

  <div class="flex justify-between">
    <div class="w-1/2 ">

      <form action="" class="flex gap-x-4">
        <div class="relative">
          <input
            type="search"
            class="peer cursor-pointer relative z-10 h-12 w-12 border-b-[2px] bg-transparent pl-12 outline-none focus:w-full focus:cursor-text focus:border-sky-900 focus:pl-16 focus:pr-4 focus:duration-300"
          />

          <i
            class="left-0 fa-solid fa-magnifying-glass absolute inset-y-0 my-auto h-6 border-r border-transparent stroke-gray-500 px-3.5 peer-focus:border-sky-900 peer-focus:stroke-sky-900 peer-focus:duration-500"
          ></i>
        </div>

        <button class="bg-gray-400 px-8 py-3 text-white font-bold">filter</button>
      </form>
    </div>
    <div class="w-2/12 flex items-center justify-end">
      <button class="bg-sky-400 w-full py-3 text-white font-bold">Agregar</button>
    </div>
  </div>
  <div class="pt-3">
    <table class="w-full">
      <thead>
        <tr>
          <th>Id</th>
          <th>Logo</th>
          <th>Nombre del Socio</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
