
<div th:fragment="sidebar" class="bg-copal pt-8 w-80" style="height: calc(100vh - 96px)">
  <ul class="text-white grid gap-y-2">
    <li class="hover:bg-copalhover">
      <button th:href="@{/copal/inicio}" class="px-2 py-1 text-left focus:bg-copalactive active:bg-copalactive active:text-black focus:text-black w-full">Socios</button>
    </li>
    <li class="hover:bg-copalhover">
      <button class="px-2 py-1 text-left focus:bg-copalactive active:bg-copalactive active:text-black focus:text-black w-full">Documentos</button>
    </li>
    <li class="hover:bg-copalhover">
      <button class="px-2 py-1 text-left focus:bg-copalactive active:bg-copalactive active:text-black focus:text-black w-full">Departamentos</button>
    </li>
    <li class="hover:bg-copalhover">
      <button class="px-2 py-1 text-left focus:bg-copalactive active:bg-copalactive active:text-black focus:text-black w-full">Reuniones</button>
    </li>
    <li class="hover:bg-copalhover">
      <button class="px-2 py-1 text-left focus:bg-copalactive active:bg-copalactive active:text-black focus:text-black w-full">Eventos</button>
    </li>
    <li class="hover:bg-copalhover">
      <button class="px-2 py-1 text-left focus:bg-copalactive active:bg-copalactive active:text-black focus:text-black w-full">Espacios Colaborativos</button>
    </li>
    <li class="hover:bg-copalhover">
      <button class="px-2 py-1 text-left focus:bg-copalactive active:bg-copalactive active:text-black focus:text-black w-full">Informes</button>
    </li>
  </ul>
</div>
